<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<style>
		body{
			background: grey;
		}
		h1{
			font-size: 35px;
			text-align:center;
		}
		p{
			font-size:15px;
			text-align:center;
		}
	</style>
</head>
<body>
	<img id='img1' src={{image1}}>
	<h1>About me</h1>
	<p>I'm....{{name}}</p>
	<!-- <script>
		document.getElementById('img1').src = "{{image1}}";
	</script> -->
</body>
	
	{{> footer}}

</html>