<!DOCTYPE html>
<html>

<head>
    <title>Delivery</title>
    <link href="location.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>

<body>
    <div id="top_padding"></div>
    <img id="background" src="./img/background.jpg">
    <div id='logo'></div>
    <div id="map"></div>
    <div id="explanation">
        
        <button id="submit" style='display: none;'></button>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEoiFzG0XaPOHqYqQ6AGAcNBosbJQ7RUw&libraries=places&callback=initMap" async defer>
    </script>
    <script>
    var map;
    var infowindow,
        website_link;

    var latitu = {{{latitu}}},
        longitu = {{{longitu}}};
    
    var place_address = '',
        place_name = '',
        place_rating = '',
        place_type = '',
        price_level = '',
        open_now = '',
        isDivExist = 0;

    var getAddress = (address, callback)=>{
        request({
            url:'https://maps.googleapis.com/maps/api/geocode/json'+'?address='+encodeURIComponent(address),
            json: true
        }, (error, response, body) => {
            if (error) {
                console.log('Can not connect to google maps');
            } else if (body.status === 'ZERO_RESULTS') {
                console.log('Can not find requested address');
            } else if (body.status === 'OK') {
                console.log(`Your requested venue: ${address}`);
                console.log(`Address: ${body.results[0].formatted_address}`);
                console.log(`Type: ${body.results[0].types[0]}`);
            }
        });
    };
    function deleteDiv(){
        // var elem = document.getElementById('order_div');
        // elem.parentNode.removeChild(elem);
        if(isDivExist == 1){
            document.getElementById('order_div').remove();
            document.getElementById('submit').style.display = 'none';
        }else{
            document.getElementById('order_div'+String(isDivExist-1)).remove();
            document.getElementById('submit').style.display = 'none';
        }
        
    }

    function initMap() {
        var pyrmont = { lat: latitu, lng: longitu };

        map = new google.maps.Map(document.getElementById('map'), {
            center: pyrmont,
            zoom: 15
        });

        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
            location: pyrmont,
            radius: 500,
            type: ['restaurant']
        }, callback);
    }

    function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i]);
            }
        }
    }

    function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        });

        place_address = place.vicinity,
        place_name = place.name,
        place_rating = place.rating,
        place_type = place.types,
        price_level = place.price_level,
        open_now = place.opening_hours.open_now;

        google.maps.event.addListener(marker, 'click', function() {
            
            infowindow.setContent(place.name + "<br><br>" + `<button onclick="myFunction()">SELECT</button>`);
            
            // website_link = getAddress(place.name)
            infowindow.open(map, this);
            // addtodiv(place)
        });
    }

    function myFunction() {
        // infowindow.setContent('<div style="background-color: yellow">' + infowindow.getContent() + "</div>");
        if(isDivExist == 0){

            var nameDiv = document.createElement("div");

            nameDiv.id = 'order_div';
            nameDiv.innerHTML = place_name + '\n' +place_rating+ '\n' +place_address+ '\n' +place_name+ '\n' +place_rating+ '\n' +place_type+ '\n' +price_level+ '\n' +open_now;

            document.getElementById('explanation').appendChild(nameDiv);
            document.getElementById('submit').style.display = 'block';
            isDivExist = 1;
        }else{
            deleteDiv();
            var nameDiv = document.createElement("div");

            nameDiv.id = 'order_div'+isDivExist;
            nameDiv.innerHTML = place_name + '\n' +place_rating+ '\n' +place_address+ '\n' +place_name+ '\n' +place_rating+ '\n' +place_type+ '\n' +price_level+ '\n' +open_now;

            document.getElementById('explanation').appendChild(nameDiv);
            isDivExist += 1;
        }
    }

    function addtodiv(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        });

        var newDiv = document.createElement("div");
        // newDiv.className = 'theNewDiv'
        var newContent = document.createTextNode(place.name);
        newDiv.appendChild(newContent);
        document.getElementById('explanation').appendChild(newDiv);
    }

    </script>
</body>
</html>