<!DOCTYPE html>
<html>
    <head>
        <title>Delivery</title> 
        <link href="location.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
    	<div id='logo'></div>
        <div id="map"></div>
        <script src="location.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOYA62OBwbkCp7SgiDlDYLCdJOIv1fySY&callback=initMap">
        </script>
    </body>
</html>