<!DOCTYPE html>
<!--w_info 나중에 id 안쓰면 지우기!! -->
<html>
    <head>
        <title>Main</title>
        <link href="main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <img id="background" src="./img/background.jpg">
        <div id='top_menu'>
            <div id="logo"></div>
            <button id="main" class="top_but">MAIN</button>
        </div>
        <div id="main_display" class="displays">
            <p1>Please enter your address to continue as a guest</p1>
            <div id="address_div">
                <form action="/address_input" method="post">
                    <input type="text" id='address_input' name="add_input">
                    <button type="submit" id="address_submit"></button>
                </form>
            </div>
<!-- 여기서부터 -->
            <p2>If you have an account, press login!</p2>
            <div id="login_div">
                <button type="submit" id="login_submit">날 눌러줘><</button>
            </div>
<!-- 여기까지 -->
            <div id="instruction">
                <p3>어서와 처음이지? Here is the basic step you can follow!</p3>
            </div>
        </div>
        <div id="login_option" style="display:none;">Do you already have an account?
            <p><br><br><br><br>OR</p>
            <button id="signIn">Sign In</button>
            <button id="guest">Guest</button>
            <button id='close'></button>
        </div>
        <script src="main.js">
        </script>
    </body>
</html>