<!DOCTYPE html>
<!--w_info 나중에 id 안쓰면 지우기!! -->
<html>
    <head>
        <title>Main</title>
        <link href="main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id='top_menu'>
            <div id="logo"></div>
            <button id="main" class="top_but">Main</button>
        </div>
        <div id="main_display" class="displays">
            <p1>Please enter your address</p1>
            <div id="address_div">
                <form action="/address_input" method="post">
                    <input type="text" id='address_input' name="add_input">
                    <button type="submit" id="address_submit">
                </form>
            </div>
            <div id="instruction">
                <p2>Are you first time? Here is the basic step you can follow!</p2>
            </div>
        </div>
        <div id="login_option" style="display:none;">Do you already have an account?
            <p><br><br><br><br>OR</p>
            <button id="signIn">Sign In</button>
            <button id="guest">Guest</button>
            <button id='close'></button>
        </div>
        <script src="main.js">
        </script>
    </body>
</html>