<!DOCTYPE html>
<html>
    <head>
        <title>register</title>
        <link href="register.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <img id="background" src="img/background.jpg">
        <div id="display">
            <div id="theHeader">
            Create your 2K Account
            </div>
            <div class="questions">
                <p1>Name/*</p1>
                <input type="text" id="first" class="q" placeholder="First"/>
                <input type="text" id="last" class="q" placeholder="Last"/>
            </div>
            <div class="questions">
                <p1>Type your username/*</p1>
                <input type="text" id="username" class="q" placeholder="Username"/>
            </div>
            <div class="questions">
                <p1>Type a password/*</p1>
                <input type="password" id="password1" class="q"/>
            </div>
            <div class="questions">
                <p1>Confirm your password/*</p1>
                <input type="password" id="password2" class="q"/>
            </div>
            <div class="questions">
                <p>Birthday</p>
                <select id="month" class="q">
                    <option value="Month">Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
                <input type="text" id="day" class="q"  placeholder="Day" />
                <input type="text" id="year" class="q"  placeholder="Year" />
            </div>
            <div class="questions">
                <p>Phone Number</p>
                <input type="text" id="phone" class="q"  placeholder="ex)7789990000" />
            </div>
            <div class="questions">
                <p1>Address Line/*</p1>
                <input type="text" id="address" class="q"  placeholder="Apt#/Street" />
            </div>
            <div class="questions">
                <p1>City/*</p1>
                <input type="text" id="city" class="q" placeholder="ex)Vancouver"/>
            </div>
            <div class="questions">
                <p1>Province/*</p1>
                <select id="provincecd" class="q">
                    <option value="AB">AB</option>
                    <option value="BC">BC</option>
                    <option value="MB">MB</option>
                    <option value="NB">NB</option>
                    <option value="NL">NL</option>
                    <option value="NT">NT</option>
                    <option value="NS">NS</option>
                    <option value="NU">NU</option>
                    <option value="ON">ON</option>
                    <option value="PE">PE</option>
                    <option value="QC">QC</option>
                    <option value="SK">SK</option>
                    <option value="YT">YT</option>
                </select>
            </div>
            <div class="questions">
                <p1>Zipcode/*</p1>
                <input type="text" id="zipcode" class="q" placeholder="ex)V6B 3H6" />
            </div>
            <button id="submit">SUBMIT</button>
            
        </div>
        <script src="register.js"></script>
    </body>
</html>