<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title> 
        <link href="signin.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="logo"></div>
        <div id="login">Sign In
            <form action="/login_input" method="post">
                <input type="text" placeholder="Username" onfocus=placeholder='' id="idInput" name="id_input" />
                <input type="password" placeholder="Password" onfocus=placeholder='' id="passInput" name="pass_input" />
                <button id="loginBut">Log In</button>
                <button id="forget">Forgot Username or Password?</button>
                <button id="register">Create an account?</button>
            <form action="/address_input" method="post">
        </div>
        <script src="signin.js"></script>
    </body>
</html>