<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title> 
        <link href="signin.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="top_padding"></div>
        <img id="background" src="./img/background.jpg">
        <div id="logo"></div>
        <div id="login">
            <p style="left:100px">find picture</p>
            <!-- <form action="/login_input" method="post"> -->
            <input type="text" placeholder="Keywords" onfocus=placeholder='' id="idInput" autofocus />
            <input  style='display:none' type="password" placeholder="Password" onfocus=placeholder='' id="passInput" />
            <button style='display:none' id="loginBut">Login</button>
            <button style='display:none' id="forget">Forgot Username or Password?</button>
            <button style='display:none' id="register">Create an account?</button>
            <!-- <form action="/address_input" method="post"> -->
        </div>
        <script src="signin.js"></script>
    </body>
</html>